html, body, #home {
    height: 100vh;
    overflow-x: hidden;
}
a {
    color: white;
    text-decoration: none;
}
body {
    background: url(../image/capa.png), 
                url(../image/ruido.png), 
                linear-gradient(50deg, #ff4169, #7c26f8);
                background-attachment: fixed;
    font-family: helvetica, Arial, sans-serif;            
}
nav.navbar-transparent {
    padding: 0.4rem 0px;
    background: rgba(0, 0, 0, 0.6);
    transition: 0.4s;
}

nav.scrolled {
    padding: 0.2rem 0px;
    background: black;
    transition: 0.4s;
}
.nav-item {
    margin: 0 10px;
    color: rgb(200, 197, 197) !important;
}
.navbar-light .navbar-toggler { 
    color: rgba(255, 255, 255, .5);
    background-color: rgba(255, 255, 255, 0.5);
}
.capa {
    text-align: center;
}
.caixa {
    padding-top: 20px;
    padding-bottom: 20px;
}

#services {
    background-color: white  
}
#resources {
    padding-top: 20px;
    padding-bottom: 20px;
}
#services h2, h3 {
    color: #7c25f8;
}
#resources h2 {
    color: white;
}
#resources h3, #resources p {
    color: #9bf0e1;
}
.albuns {
    padding: 10px 0;
}
.reverse-rotate-and-fade {
    opacity: 0;
    animation: reverseRotateAndFade 1s forwards;
  }
.rotate-and-fade {
    opacity: 0;
    animation: rotateAndFade 1s forwards;
  }
.img-album {
    width: 100%;
    height: 100%;
    object-fit: cover;
    border-radius: 10px;
    -webkit-border-radius: 10px;
    -moz-border-radius: 10px;
    transition: all 0.4s;
}
.album-animation {
    opacity: 1;
    animation: popupAndFade 2s forwards;
}
.album-noAnimation {
    opacity: 0;
}
  
h1 {
    font-weight: 900;
    letter-spacing: -0.05em;
    margin-bottom: 50px;
    color: white;
}
h2 {
    font-size: 3em;
    font-weight: 700;
    letter-spacing: -0.04em;
}
h3 {
    font-size: 2em;
    font-weight: 700;
    letter-spacing: -0.04em;
}
@media (max-width: 575.98px) {
    .btn-custon {
        margin: 10px 15px;
    }
    #services img {
        width: 100%;
        margin-top: 1rem;
    }
}
@media (min-width: 576px) { 
    h1 {
        font-size: 3em;
    }
    .btn-custon {
        margin: 10px 15px;
    }

}

@media (min-width: 768px) { 
    h1 {
        font-size: 4em;
    }
 }

@media (min-width: 992px) { 
    h1 {
        font-size: 5em;
    }
 }

@media (min-width: 1200px) { 
    h1 {
        font-size: 6em;
    }
 }
 .btn-custon {
    color: white;
    border-radius: 500px;
    -webkit-border-radius: 500px;
    -moz-border-radius: 500px;
    transition: background 0.4s, color 0.4s;
    padding: 10px 15px;
}
.btn-roxo {
    background-color: #7c25f8;
}
.btn-roxo:hover {
    background-color: #6207e3;
    color: white;
}
.btn-branco {
    border: 2px solid white;

}
.btn-branco:hover {
    background-color: white;
    color: black;
}
footer {
    background: #000;
    padding: 50px 0px 20px 0px;
    position: relative;
}
footer h4 { 
    color: #919496;
    font-size: 0.8em;
}
footer .navbar-nav a {
    color: white;
    font-size: 0.6em;
}
footer .navbar-nav a:hover {
    color: #9bf0e1;
    font-size: 0.6em;
    text-decoration: none;
}
footer .list-unstyled li {
    float: right;
    margin: 0 10px;
    font-size: 3em;
}
footer .list-unstyled li a, a:hover {
    color: #919496;
    text-decoration: none;
}





/* 
keyframes
*/

@keyframes reverseRotateAndFade {
    0% {
      scale: 1;  
      opacity: 1;
      transform: rotate(45deg);
    }
    100% {
      scale: 0.5;  
      opacity: 0;
      transform: rotate(90deg);
    }
}

@keyframes rotateAndFade {
    0% {
      scale: 0.5;  
      opacity: 0;
      transform: rotate(90deg);
    }
    100% {
      scale: 1;  
      opacity: 1;
      transform: rotate(15deg);
    }
  }

@keyframes popupAndFade {
    0% {
      opacity: 0;
      transform: scale(0.5);
    }
    50% {
      opacity: 1;
      transform: scale(1.2);
    }
    100% {
      opacity: 1;
      transform: scale(1);
    }
  }